.sideBar {
    font-weight: 700;
    background: #ffb703;
    box-shadow:
        0.9px 0.9px 2.7px rgba(0, 0, 0, 0.047),
        2.2px 2.2px 6.9px rgba(0, 0, 0, 0.067),
        4.4px 4.4px 14.2px rgba(0, 0, 0, 0.083),
        9.1px 9.1px 29.2px rgba(0, 0, 0, 0.103),
        25px 25px 80px rgba(0, 0, 0, 0.15);
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    height: 100vh;
}

.nav-link{
    font-family: 'Roboto', sans-serif;
    color: black !important;
  }